<div class="featured-links grid-item small--one-whole one-third image-1">
    {% capture link_img %}placeholder.jpg{% endcapture %}
    <span>
      <img loading="lazy" src="{{ link_img | asset_img_url:'460','0' }}">
      <h4 class="h4">Main Title</h4>
      <p>This is a great place to add a bit of text, if needed that is.</p>
    </span>
    </div>
    <div class="featured-links grid-item small--one-whole one-third image-2">
    {% capture link_img %}placeholder.jpg{% endcapture %}
    <span>
      <img loading="lazy" src="{{ link_img | asset_img_url:'460','0' }}">
      <h4 class="h4">Main Title</h4>
      <p>This is a great place to add a bit of text, if needed that is.</p>
    </span>
    </div>
    <div class="featured-links grid-item small--one-whole one-third image-3">
    {% capture link_img %}placeholder.jpg{% endcapture %}
    <span>
      <img loading="lazy" src="{{ link_img | asset_img_url:'460','0' }}">
      <h4 class="h4">Main Title</h4>
      <p>This is a great place to add a bit of text, if needed that is.</p>
    </span>
</div>   