<div class="wrapper"> 
    <div class="grid">
        <div class="grid-item large--two-thirds push--large--one-sixth">
            <h1>{{ meta.h1 }}</h1>
            {% comment %}
            Regular page content goes here.
            {% endcomment %}
            <div class="rte">
                {{ page.html }}
            </div>
        </div>
    </div>
</div>